.solunes-staff {
  /* Staff: Table */
  /* Staff: Form */ }
  .solunes-staff h1 {
    font-size: 30px; }
  .solunes-staff h3 {
    font-size: 26px; }
  .solunes-staff p {
    margin-top: 0;
    margin-bottom: 15px; }
  .solunes-staff .order-block {
    background: #f2f2f2;
    padding: 30px 40px 45px; }
  .solunes-staff .table-bordered-top {
    border-top: 1px solid #ddd; }
    .solunes-staff .table-bordered-top td, .solunes-staff .table-bordered-top th {
      border-bottom: 1px solid #ddd; }
  .solunes-staff .method-title {
    margin-top: 30px; }
  .solunes-staff .panel-title {
    font-weight: bold; }
  .solunes-staff .payment-method {
    margin-bottom: 30px;
    margin-top: 20px; }
  .solunes-staff table.table-staff {
    margin-bottom: 30px; }
    .solunes-staff table.table-staff td.strong {
      font-weight: bold; }
    .solunes-staff table.table-staff tr {
      display: table-row; }
    .solunes-staff table.table-staff th {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap; }
    .solunes-staff table.table-staff td, .solunes-staff table.table-staff th {
      border-bottom: 1px solid #ddd !important;
      border-top: medium none;
      padding: 20px 10px;
      vertical-align: middle;
      text-align: center; }
    .solunes-staff table.table-staff td input {
      background: #e5e5e5;
      border: none;
      border-radius: 3px;
      color: #6f6f6f;
      font-size: 15px;
      font-weight: 400;
      height: 40px;
      padding: 0 5px 0 10px;
      width: 60px; }
    .solunes-staff table.table-staff .product-thumbnail {
      width: 80px;
      padding: 10px; }
    .solunes-staff table.table-staff .product-price {
      width: 130px; }
    .solunes-staff table.table-staff .product-quantity {
      width: 180px; }
    .solunes-staff table.table-staff .product-name {
      width: 270px; }
    .solunes-staff table.table-staff .amount {
      font-size: 15px;
      font-weight: 700; }
  .solunes-staff .staff-form {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5; }
  .solunes-staff .checkout-form-list {
    margin-bottom: 30px; }
  .solunes-staff input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 42px;
    width: 100%;
    padding: 0 0 0 10px; }
  .solunes-staff select {
    width: 100%;
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #626262; }
  .solunes-staff input.btn-site {
    width: auto;
    padding-left: 15px;
    padding-right: 15px; }
